/* ==========================================================================
   COMPONENTES PROPRIOS
   ========================================================================== */

.subtitle {
    font-size: $font-size-base;
    font-weight: $font-bold;
    color: $color-secondary-lt;
    text-transform: uppercase;
}

/* WEBDOOR
 * -------------------------- */

.webdoor {
    color: white;

    &-item {
        background: {
            color: black;
            position: center top;
            repeat: no-repeat;
            size: contain;
        }
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        width: 100%;
        @include position(relative, null);
        @include margin(null null 0);
        @include padding(50% null 3rem);

        &:before {
            @include before-after02;
        }

        > .container {
            z-index: 1;
            -ms-flex-item-align: center;
            align-self: center;
            @include position(relative, null);
        }
    }

    &-medium, &-big, &-full {
        .webdoor-item {
            min-height: 100vh;
        }
    }

    @media (min-width: $screen-sm-min) {
        &-item {
            background: {
                position: center;
                size: cover;
            }
            @include padding(4rem null);

            &:before {
                background: -moz-linear-gradient(left, black 33%, transparent 50%);
                background: -webkit-linear-gradient(left, black 33%, transparent 50%);
                background: linear-gradient(to right, black 33%, transparent 50%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
            }
        }

        &-medium {
            .webdoor-item {
                min-height: 33.4375rem;
            }
        }

        &-big {
            .webdoor-item {
                min-height: 46.68rem;
            }
        }

        &-full {
            .webdoor-item {
                min-height: 100vh;
            }
        }
        
    }
}


/* OVERLAY
 * -------------------------- */

%overlay {
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    color: white;
    background-color: $color-secondary-lt;
    background-clip: border-box;
    @include position(relative, null);
}

%overlay-img {
    background: {
        size: cover;
        position: center;
        repeat: no-repeat;
    }
}

%overlay-body {
    transition: all .3s;
    text-shadow: 1px 1px 1px rgba(black, .65);
    @include position(absolute, 0);
}

%overlay-hover {
    opacity: 0;
    transition: all .3s;
}

%overlay-opacity-100 {
    opacity: 1;
}

/* POSTER
 * -------------------------- */

.poster {
    @extend %overlay;
    @extend %overlay-img;
    @include padding(null null 55%);

    &-body {
        @extend %overlay-body;
        @extend %overlay-hover;
        display: -ms-flexbox;
        display: flex;
        z-index: 3;
        @include padding($space-xs);
    }

    #{$_link-hover} {
        .poster-body {
            @extend %overlay-opacity-100;
            background-color: rgba(black, .15);
        }
    }

    &-alt {
        @include padding(null null 148.16%);
    }
}


/* SHOWCASE CAROUSEL
 * -------------------------- */

.showcase-carousel {  
    &, &-alt {
        z-index: 9;

        // .slick-arrow {
        //     z-index: 9;
        //     width: 4.25rem;
        //     text-align: center;
        //     text-shadow: 0 1px 0 black;
        //     @include position(absolute, 0 null);

        //     &.slick-left {
        //         @include position(null, null null null 0);
        //     }

        //     &.slick-right {
        //         @include position(null, null 0 null null);
        //     }

        //     [class*="i-arrow"] {
        //         transition: all .3s;
        //         @include position(absolute, 0);
        //         @include margin(auto);
        //     }

        //     #{$_link-hover} {
        //         [class*="i-arrow"] {
        //             transform: scale(1.05);
        //             background: {
        //                 image: url('../images/icon-arrow-right-rd.png');
        //             }
        //             // color: $color-primary-lt;
        //         }

        //         .i-arrow-left {
        //             transform: scaleX(-1) scale(1.05);
        //         }
        //     }
        // }

        .slick-slide {
            @include padding(null $space-xxs);
        }

        .poster {
            width: 100%;
            transition: all .3s;
            background-color: $color-secondary-dk;
        }

        .item {
            display: block !important;
            @include position(relative, null);

            &:before, &:after {
                content: '';
                display: none;
                @include position(absolute, null);
            }

            &:before {
                z-index: 1;
                border: 4px solid white;
                box-shadow: 0 4px 4px rgba(black, .2);
                @include position(null, 1px);
            }

            &:after {
                z-index: 2;
                @include triangle("down", 2rem, .5rem, white);
                @include margin(null null null -1rem);
                @include position(absolute, null null -6px 50%);
            }

            &:focus {
                outline: none;
            }
        }
    }

    & {
        .slick-list {
            overflow: visible;
        }

        .slick-slide {
            @include position(relative, null);
        }

        .item {
            #{$_link-hover} {
                .poster {
                    transform: scale(1.1);
                    z-index: 10;
                }
            }
        }
    }
}



/* LABELS FLUTUATES (FORM)
 * -------------------------- */
 
[class="bg-dark"] {
    .form-control {
        color: white;
        border-color: rgba(white, .5);

        &:focus {
            color: white;
            border-color: $color-primary;
        }
    }
}

.label-floated {
    @include position(relative, null);

    &.form-group {
        @include margin(null null $space-sm);
    }

    label {
        @include position(absolute, null null 0 0);
        @extend %transition-default;
    }

    .form-control {
        @include padding(null 0);

        &, &:focus {
            @include border-color(transparent transparent null transparent);
        }

        &:focus {
            box-shadow: none;
            @include border-color(null null $color-primary);
        }
    }

    textarea.form-control {
        height: 2.5rem;
    }

    &.filled {
        label {
            bottom: auto;
            top: $space-xs * -1;
            font-size: $font-size-small;
            color: darken($color-secondary-lt, 17%);
        }

        textarea.form-control {
            min-height: 4.5rem;
        }
    }
}