/* ==========================================================================
   COMPONENTES PROPRIOS
   ========================================================================== */

.subtitle {
    font-size: $font-size-base;
    font-weight: $font-bold;
    color: $color-secondary-lt;
    text-transform: uppercase;
}

/* WEBDOOR
 * -------------------------- */

.webdoor-carousel {
    overflow: hidden;
    @include position(absolute, null 0);

    &:after {
        background-color: rgba(black, .45);
        @include before-after02;
    }

    .item {
        background: {
            color: $color-secondary-ltr;
            position: center;
            repeat: no-repeat;
            size: cover;
        }
        overflow: hidden;
        @include position(relative, null);
    }

    @media (min-width: $screen-md-min) {
        &:after {
            $gradient: black, rgba(black, .35) 50%;
            background: -moz-linear-gradient(left, $gradient);
            background: -webkit-linear-gradient(left, $gradient);
            background: linear-gradient(to right, $gradient);
            @include before-after02;
        }
    }
}


/* POSTER
 * -------------------------- */

%overlay {
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    color: white;
    background-color: $color-secondary-lt;
    background-clip: border-box;
    @include position(relative, null);
}

%overlay-img {
    background: {
        size: cover;
        position: center;
        repeat: no-repeat;
    }
}

%overlay-body {
    transition: all .3s;
    text-shadow: 1px 1px 1px rgba(black, .65);
    @include position(absolute, 0);
}

%overlay-hover {
    opacity: 0;
    transition: all .3s;
}

%overlay-opacity-100 {
    opacity: 1;
}

.poster {
    @extend %overlay;
    @extend %overlay-img;
    @include padding(null null 55%);

    &-body {
        @extend %overlay-body;
        @extend %overlay-hover;
        display: -ms-flexbox;
        display: flex;
        z-index: 3;
        @include padding($space-xs);
    }

    #{$_link-hover} {
        .poster-body {
            @extend %overlay-opacity-100;
            background-color: rgba(black, .65);
        }
    }

    &-alt {
        @include padding(null null 148.16%);
    }
}


/* SHOWCASE CAROUSEL
 * -------------------------- */

.showcase-carousel {  
    z-index: 9;

    .poster {
        width: 100%;
        transition: all .3s;
        background-color: $color-secondary-dk;
        transform: scale(.9);
    }

    .item {
        display: block !important;
        @include position(relative, null);

        &:before, &:after {
            content: '';
            display: none;
            @include position(absolute, null);
        }

        &:before {
            z-index: 1;
            border: 4px solid white;
            box-shadow: 0 4px 4px rgba(black, .2);
            @include position(null, 1px);
        }

        &:after {
            z-index: 2;
            @include triangle("down", 2rem, .5rem, white);
            @include margin(null null null -1rem);
            @include position(absolute, null null -6px 50%);
        }

        &:focus {
            outline: none;
        }
    }

    .slick-list {
        overflow: visible;
    }

    .slick-slide {
        @include padding(null $space-xxs);
        @include position(relative, null);
    }

    .slick-current,
    .item:focus ,
    .item:hover {
        .poster {
            transform: scale(1);
            z-index: 10;
            box-shadow: 0 0 $space-xs rgba(black, .65);
        }
    }
}


/* LABELS FLUTUATES (FORM)
 * -------------------------- */

.label-floated {
    @include position(relative, null);

    &.form-group {
        @include margin(null null $space-sm);
    }

    label {
        @include position(absolute, null null 0 0);
        @extend %transition-default;
    }

    .form-control {
        @include padding(null 0);

        &, &:focus {
            @include border-color(transparent transparent null transparent);
        }

        &:focus {
            box-shadow: none;
            @include border-color(null null $color-primary);
        }

        &:disabled, &[readonly] {
            background-color: transparent;
        }
    }

    textarea.form-control {
        height: 2.5rem;
    }

    &.filled {
        label {
            bottom: auto;
            top: $space-xs * -1;
            font-size: $font-size-small;
            color: darken($color-secondary-lt, 17%);
        }

        textarea.form-control {
            min-height: 4.5rem;
        }
    }
}

.form-group {
    .label-floated {
        @include margin($space-xs null null);
    }
}

fieldset[disabled] {
    .label-floated {
        .form-control {
            opacity: .85;
        }
    }
}