/* ==========================================================================
   ESTRUTURA DO LAYOUT
   ========================================================================== */

/* HEADER
 * -------------------------- */

.header {
    z-index: 99;
    @include position(absolute, null 0);

    &-navbar {
        @include padding($space-md null null);

        .navbar-brand {
            #{$_link-hover} {
                transform: scale(1.05);
            }
        }

        @media (min-width: $screen-md-min) {
        }
    }
}


/* FOOTER
 * -------------------------- */

.footer {
    font-size: $font-size-small;
    color: white;
    background-color: $color-secondary-dk;
}


/* SECTIONS
 * -------------------------- */

.content-wrapper {
    @include padding($space-lg null);

    @media (min-width: $screen-md-min) {
        @include padding(($space-base * 6) null);
    }
}

.section-webdoor .webdoor-wrapper,
.webdoor-carousel .item {
    min-height: 100vh;


    @media (min-width: $screen-md-min) {
        min-height: 33rem;
    }

    @media (min-width: $screen-lg-min) {
        min-height: 35rem;
    }

    @media (min-width: $screen-xl-min) {
        min-height: 40rem;
    }

    @media (max-width: $screen-md-max) and (orientation: landscape) {
        min-height: 33rem;
    }
}

.section-webdoor {
    .webdoor-wrapper {
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        @include position(relative, null);
        @include padding(3.75rem null ($space-base * 4));

        .container {
            color: white;
            text-shadow: 1px 1px 1px rgba(black, .65);
        }

        .btn {
            text-shadow: none;
        }
    }

    .webdoor-carousel {
        top: 0;

        .container {
            font-size: $font-size-smaller;
            text-align: center;
            @include padding($space-xxs null null);
        }

        .movie-title.small {
            font-style: italic;
        }
    }

    .poster {
        &-body {
            line-height: $line-height-heading;
            text-align: center;
        }

        #{$_link-hover} {
            .poster-body {
                $gradient: rgba(black, .15) 50%, rgba(black, .9);
                background: -moz-linear-gradient(top, $gradient);
                background: -webkit-linear-gradient(top, $gradient);
                background: linear-gradient(to bottom, $gradient);

            }
        }

        .movie-title {
            transition: all 0.3s;
        }

        #{$_link-hover} {
            .movie-title {
                @include margin(null null $space-sm);
            }
        }
    }

    .showcase-carousel {
        @include margin(($space-base * -4) null null);
    }

    @media (min-width: $screen-md-min) {
        .webdoor-wrapper {
            @include padding(null null 10%);
        }
        .webdoor-carousel {
            .container {
                @include padding($space-md null null);
            }
        }

        .showcase-carousel {
            @include margin(-10% null null);
        }
    }

}

/* MODAL CADASTRO */

.modal-signup {
    .modal-content {
        background-color: $color-secondary-dk;
        color: white;
    }

    .modal-header {
        border-bottom: 0;

        + .modal-body {
            @include padding(0 null null);
        }
    }

    .modal-body {
        @include padding($space-sm);
    }

    .label-floated {
        &.filled {
            label {
                color: $color-secondary-lt;
            }
        }
    }

    .close {
        color: $color-secondary-ltr;
        text-shadow: 0 1px 0 black;
    }

    .form-control option {
        background-color: $color-secondary-dk;
    }

    .invalid-feedback {
        color: lighten($color-primary-lt, 10%);
    }
}