/* ==========================================================================
   ESTRUTURA DO LAYOUT
   ========================================================================== */

/* HEADER
 * -------------------------- */

.header {
    &-navbar {
        z-index: 99;
        @include padding($space-xxs null);

        .navbar-brand {
            #{$_link-hover} {
                transform: scale(1.05);
            }
        }

        &.navbar-dark {
            background-color: rgba($color-secondary-dk, .9);
        }
    }
}



/* FOOTER
 * -------------------------- */

.footer {
    font-size: $font-size-small;
    color: white;
    background-color: $color-secondary-dk;
}


/* SECTIONS
 * -------------------------- */

.section-webdoor {
    // border-bottom: 2px solid black;

    .webdoor-item {
        background: none;
        padding-bottom: 0;
        background-position: center 4.5rem;
        @include padding(calc(4.5rem + 50%) null null);

        &:before, &:after {
            background-position-x: center;
            background-repeat: no-repeat;
            min-height: 43.25rem;
            @include before-after02;
        }
        
        &:before {
            background-image: url(../images/bg-webdoor.png);
            background-color: rgba(33, 33, 33, 0.9);
            background-position-y: bottom;
            background-repeat: no-repeat;
            bottom: -1px;
            @include before-after02;
        }

        &:after {
            background-image: url(../images/bg-img-webdoor01.jpg);
            background-position-y: center;
            background-size: cover;
        }

        @media (min-width: $screen-sm-min) {
            @include padding(($space-md * 2) null null);
        }

        @media (min-width: $screen-xl-min) {
            p {
                max-width: 23.7rem;
            }
        }
    }

    .showcase-carousel-alt {
        @include margin($space-lg null null);
    }
}